.actorContainer {
  display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // max-width: 1300px;
  width: 100%;
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}

.actorDetails {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: calc(100% - 220px);
  // margin: 0 10px;
  // max-width: 1080px; 
  p{
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 95%;
    padding: 10px;
  }
  @media screen and (max-width: 500px) {
    
  }
}

.imageContainer {
  width: 200px;
  // height: 300px;
  padding: 10px;
  
  img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    @media screen and (max-width: 768px) {
      width: 200px;
      height: 220px;
      object-fit: cover;
      object-position: top;
    }
  }
}

.infoContainer {
  margin-top: 20px;
  text-align: center;
  padding: 10px;
}
.actorCredits {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
  width: 100%;
}

.movieCredits {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  // max-width: 1080px;
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.7);
    border-radius: 20px;
    border: transparent;
  }
}

.actorBiography{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.knownFor{
  @media screen and (max-width: 768px) {
  display: none;
  }
}

.knownAs{
  @media screen and (max-width: 768px) {
  display: none;
  }
}

.personalInfo{
  @media screen and (max-width: 768px) {
  display: none;
  }
}