.Banner{
  display: flex;
  justify-content: center;
}


.carouselWrapper {
  position: relative;
}


.carouselImage {
  width: 100%;
  height: auto;
  z-index: 10;
}
.carouselTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  padding: 20px;
  // max-width: 80%;
  p {
    max-width: 50%;
  }
}

.control-dots{
  z-index: 30;
}

.control-arrow{
  z-index: 30;
}