@import '_partial.scss';

.card {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5px;

  img {
    top: 0;
    left: 0;
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
  }

  p {
    display: flex;
    text-align: center;
    justify-content: center;
    // padding: 10px;
    margin-top: 260px;
    margin-bottom: 0;
    overflow: hidden;
    align-items: center;
  }

  p {
    margin-top: 0;
  }

  cursor: pointer;
}
.img {
  display: flex;
  width: 200px;
  img {
    width: 200px;
    // height: 300px;
    object-fit: cover;
    border-radius: 12px;
  }
}
.title {
  width: 200px;
  display: flex;
  height: 70px;
}

.year {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.actorCard{
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5px;

  img {
    top: 0;
    left: 0;
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
  }

  p {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin-top: 260px;
    margin-bottom: 0;
    overflow: hidden;
    align-items: center;
  }

  p {
    margin-top: 0;
  }

  cursor: pointer;
}

.episodeCard{
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* align-content: center; */
  align-items: center;
}