.card {
  display: flex;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 85%;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.overview {
  font-size: 16px;
  margin-bottom: 10px;
}

.imageContainer {
  margin-right: 20px;
}

.image {
  // position: absolute;
  width: 100px;
  height: 100px;
  object-fit: cover;
}