@import '_partial.scss';

.templates {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 16px;
  align-items: center;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}